AddHandler application/x-httpd-php56 .php

RewriteEngine On

RewriteRule ^contact/$ contact.php 
RewriteRule ^contact$ contact.php 

RewriteRule ^whoami/$ whoami.php
RewriteRule ^whoami$ whoami.php

RewriteRule ^skills/$ skills.php
RewriteRule ^skills$ skills.php

RewriteRule ^neonnebula/$ project/nn.php
RewriteRule ^neonnebula$ project/nn.php

RewriteRule ^underhell/$ project/underhell.php
RewriteRule ^underhell$ project/underhell.php

RewriteRule ^lublin1617/$ project/lublin1617.php
RewriteRule ^lublin1617$ project/l1617.php

RewriteRule ^lightway/$ project/lightway.php
RewriteRule ^lightway$ project/lightway.php

RewriteRule ^downloads/NeonNebula1.15.zip$ project/downloads/NeonNebula1.15.zip
RewriteRule ^downloads/NeonNebulaMobile1.19.apk$ project/downloads/NeonNebulaMobile1.19.apk

RewriteRule ^theystolemystuff/$ theystolemystuff.php
RewriteRule ^theystolemystuff$ project/theystolemystuff.php

RewriteRule ^blinky/$ project/blinky.php
RewriteRule ^blinky$ project/blinky.php