
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body
{
    font-family: 'Titillium Web', sans-serif !important;
    font-size: 200%;

    color: whitesmoke;
    background-color: rgb(10, 10, 10);
    padding: 1% 1% 1% 1%;
    margin: 3% 3% 3% 3%;
}

.index-menu-list, .index-menu-list a
{
    color: whitesmoke;
    text-decoration-line: none;
    list-style: none;
}

.index-menu-list li:hover, .index-menu-list a:hover
{
    color: black;
    background-color: whitesmoke;
}

.logo
{
    height: 100px;
    width: 100px;
    float: left;
}

.nickname
{
    font-size: 2em;
}

.menu
{
    width: 100%;
}

.main
{
    width: 100%;
    margin-left: 3%;
    padding: 0px 15px 15px 15px;
}

.content
{
    padding: 0px 10px 10px 10px;
    margin-top: 100px;
    background-color: rgba(127,127,127,0.05);
}

.top
{
    position: absolute;
    top:15px;
    right:100px;
    text-align: right;
    height: 32px;
    width: 200px;
}

.github:hover
{
    background-color: black;
    filter: invert(100%);
    border-radius: 15px;
    animation: none !important;
}

.linkedin
{
    height: 32px;
    width: 32px;
    filter:invert(100%);
}

.linkedin:hover
{
    filter:invert(0%);
    background-color: white;
    border-radius: 5px;
}

.youtube
{
    height: 32px;
    width: 32px;
    filter: invert(100%);
}

.youtube:hover
{
    filter:invert(0%);
    background-color: white;
    border-radius: 5px;
}

.cv
{
    height: 32px;
    width: 32px;
    filter: invert(100%);
}

.cv:hover
{
    filter:invert(0%);
    background-color: white;
}

a
{
    text-decoration-line: none;
    color:white;
 
}

.index-menu-list li
{
    -o-transition:color .2s ease-out, background 0.2s ease-in;
    -ms-transition:color .2s ease-out, background 0.2s ease-in;
    -moz-transition:color .2s ease-out, background 0.2s ease-in;
    -webkit-transition:color .2s ease-out, background 0.2s ease-in;
    transition:color .2s ease-out, background 0.2s ease-in;
}

.index-menu-list li:hover
{
    background: white;
    color: black;
}

.left img
{
    transition: 0.2s;
    margin-right: 35px;
}

#particles-js
{
    z-index: -10;
    position: absolute;
    width: 90%;
    height: 90%;
}


.half
{
    position: relative;
    text-align: justify;
    float: left;
    width: 50%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.timeline{
    position: relative !important;
    transform: scale(0.66);
}

.timeline ul {
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  left:50%;
  background: inherit;
}

.timeline ul li div {
    font-size: 0.7em;
  color: black;
  position: relative;
  bottom: 0;
  width: 300px;
  padding: 15px;
  background:#eeeeee;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #c33c33 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -370px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #c33c33;
}

time {
  color: black;
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #c33c33;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
  }
}

@media screen and (max-width: 1530px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}

.link{
  color:#c33c33;
  text-decoration:underline;
}