@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body
{
    font-family: 'Titillium Web', sans-serif !important;
    font-size: 200%;
    color: whitesmoke;
    background-color: rgb(10, 10, 10);

    max-width: 92%;
}

.index-menu-list, .index-menu-list a
{
    color: whitesmoke;
    text-decoration-line: none;
    list-style: none;
}

.index-menu-list li:hover, .index-menu-list a:hover
{
    color: black;
    background-color: whitesmoke;
}
.menu
{
  width: 25%;
  float: left;
  position: relative;
}

.logo
{
    float: left;
}

.top
{
    position: absolute;
    top:15px;
    text-align: right;
    height: 32px;
    width: 200px;
}

.github:hover
{
    background-color: black;
    filter: invert(100%);
    border-radius: 15px;
    animation: none !important;
}

.linkedin
{
    height: 32px;
    width: 32px;
    filter:invert(100%);
}

.linkedin:hover
{
    filter:invert(0%);
    background-color: white;
    border-radius: 5px;
}

.youtube
{
    height: 32px;
    width: 32px;
    filter: invert(100%);
}

.youtube:hover
{
    filter:invert(0%);
    background-color: white;
    border-radius: 5px;
}

a
{
    text-decoration-line: none;
    color:white;
 
}

.index-menu-list li
{
    -o-transition:color .2s ease-out, background 0.2s ease-in;
    -ms-transition:color .2s ease-out, background 0.2s ease-in;
    -moz-transition:color .2s ease-out, background 0.2s ease-in;
    -webkit-transition:color .2s ease-out, background 0.2s ease-in;
    transition:color .2s ease-out, background 0.2s ease-in;
}

.index-menu-list li:hover
{
    background: white;
    color: black;
}

.left img
{
    transition: 0.2s;
    margin-right: 35px;
}

#particles-js
{
    z-index: -10;
    position: fixed !important;
    width: 100%;
    height: 100%;
    top: 5%;
    left: 5%;
}
  
  .left h1:before {
    left: -2.5px;
  }
  .left h1:after {
    right: 2.5px;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .left h1:hover:before {
    background: #fff;
    left:35%;
    width: 60%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .left h1:hover:after {
    background: transparent;
    left:35%;
    width: 60%;
    transition: 0s;
  }

  .timeline-line::before
  {
        content: '';
        position: fixed;
        right: 10%;
        height: 50%;
        transform:translateX(-50%);
        width:4px;
        background-color:#fff;
  }

    .main
    {
        width: 70%;
        float: right;
    }

    .content
    {
        margin-top: 250px;
        background-color: rgba(127,127,127,0.1);
        padding: 10px 10px 10px 10px;
        float: left;
}

  .half
  {
      position: relative;
      text-align: justify;
      float: left;
      width: 50%;
  }

  .timeline{
      position: relative !important;
      top: -1000px;
      right: 250px;
      float: right;
      transform: scale(0.66);
  }

  .timeline ul {
    padding: 50px 0;
  }
  
  .timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
  }
  
  .timeline ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left:50%;
    background: inherit;
  }
  
  .timeline ul li div {
      font-size: 0.7em;
    color: black;
    position: relative;
    bottom: 0;
    width: 300px;
    padding: 15px;
    background:#eeeeee;
  }
  
  .timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }
  
  .timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #c33c33 transparent transparent;
  }
  
  .timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #c33c33;
  }
  
  time {
    color: black;
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .timeline ul li::after {
    transition: background .5s ease-in-out;
  }
  
  .timeline ul li.in-view::after {
    background: #c33c33;
  }
  
  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
  }
  
  .timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
  }
  
  .timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
  }
  
  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }

.link{
    color:#c33c33;
    text-decoration:underline;
}