
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body
{
    font-family: 'Titillium Web', sans-serif !important;
    font-size: 200%;

    color: whitesmoke;
    /*background-color: rgb(10,10,10);*/
    background-color: red;
    margin: 3% 3% 3% 3%;
}

.index-menu-list, .index-menu-list a
{
    color: whitesmoke;
    text-decoration-line: none;
    list-style: none;
}

.index-menu-list li:hover, .index-menu-list a:hover
{
    color: black;
    background-color: whitesmoke;
}

.logo-rotate
{
    height: 100px;
    width: 100px;
    float: left;
}

.nickname
{
    font-size: 60px;
}

.menu
{
    width: 30%;
    float: left;
}

.main
{
    width: 65%;
    float: left;


    height: 100%;
    margin-left: 3%;
    padding: 15px 15px 15px 15px;
}

.content
{
    margin-top: 250px;
    background-color: rgba(127,127,127,0.05);
}

.top
{
    position: absolute;
    top:5%;
    left:-5%;
    text-align: right;
    height: 100%;
    width: 100%;
}

.github:hover
{
    background-color: black;
    filter: invert(100%);
    border-radius: 15px;
    animation: none !important;
}

.linkedin
{
    height: 32px;
    width: 32px;
    filter:invert(100%);
}

.linkedin:hover
{
    filter:invert(0%);
    background-color: white;
    border-radius: 5px;
}

.youtube
{
    height: 32px;
    width: 32px;
    filter: invert(100%);
}

.youtube:hover
{
    filter:invert(0%);
    background-color: white;
    border-radius: 5px;
}

.cv
{
    height: 32px;
    width: 32px;
    filter: invert(100%);
}

.cv:hover
{
    filter:invert(0%);
    background-color: white;
}

a
{
    text-decoration-line: none;
    color:white;
 
}

.index-menu-list li
{
    -o-transition:color .2s ease-out, background 0.2s ease-in;
    -ms-transition:color .2s ease-out, background 0.2s ease-in;
    -moz-transition:color .2s ease-out, background 0.2s ease-in;
    -webkit-transition:color .2s ease-out, background 0.2s ease-in;
    transition:color .2s ease-out, background 0.2s ease-in;
}

.index-menu-list li:hover
{
    background: white;
    color: black;
}

.left img
{
    z-index: -10;
    transition: 0.2s;
    
}

.left:hover img
{
    filter: invert();
}

#particles-js
{
    z-index: -10;
    position: absolute;
    width: 90%;
    height: 90%;
}

.left:hover .logo
{
    contain: url("assets/graphics/logow.png");
}

.left h1 {
    position: relative;
    display: block;
    cursor: pointer;
  }
  
  .left h1:before, .left h1:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 20px;
    top: 80%;
    margin-top: -0.5px;
    background: #fff;
  }
  
  .left h1:before {
    left: -2.5px;
  }
  .left h1:after {
    right: 2.5px;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .left h1:hover:before {
    background: #fff;
    left:35%;
    width: 60%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .left h1:hover:after {
    background: transparent;
    left:35%;
    width: 60%;
    transition: 0s;
  }